@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin:5px;
    padding:2px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.loginform-head
{
	position: relative;
    margin:4px auto;
    text-align: center;
    padding: 0 10px;
	font-size:1.5rem;
	color: Black;
	background-color:#FFDB58;
	margin: 5px 450px 10px 400px;
}
.loginform-body
{
	
	margin: 5px 450px 30px 400px;
	border:0.5px solid #ddd;
	text-align:level;
	font-size:1rem;
	padding:10px;
	position:auto;
	background-color:#FFDB58;
}
.form-row
{
width : 100%;
	
}
.col1{ 
width : 30%;
float : left;
}
.col2{ 
width : 70%;
display : inline;
}